@page "/"
<div class="main">
    <div class="container">
        <div class="intro">
            <div class="avatar">
                <a href="/">
                    <img src="images/avatar.jpg">
                </a>
            </div>
            <div class="nickname">PomeloButter</div>
            <div class="description">
                <p>
                    <br>The Most Useless C# Software Engineer
                </p>
            </div>
            <div class="links">
                <a class="styleabout github" target="_blank" href="https://github.com/pomelobutter"  title="github">github</a>
                <a class="styleabout sina" target="_blank" href="https://weibo.com/u/5663078856" title="Î¢²©" onclick="RemoveImageBody(true)">sina</a>
                <a class="styleabout mail" target="_blank" href="mailto:17997384@qq.com" title="Email" onclick="RemoveImageBody(true)">Email</a>
            </div>
        </div>
    </div>
</div>