@page "/FooterLayout"

<footer id="footer" class="footer">
    <div class="copyright">
        <span>
            Powered by Blazor WebAssembly 3.2.0 on Linux
        </span>&nbsp;&nbsp;&nbsp;
        <span>陕ICP备18012083号-1</span>
    </div>
</footer>