@page "/Categories"
@using PomeloButterBlog.Common.Models
@inject HttpClient Http
<div class="main">
    <div class="container">
        <div class="post-wrap categories">
            <h2 class="post-title">-&nbsp;Categories&nbsp;-</h2>
            <div class="categories-card">
                @foreach (var item in Models)
                {
                    <div class="card-item">
                        <div class="categories">
                            <a href="@BuildLink(@item.DisplayName,@PageIndex)">
                                <h3>
                                    <i class="iconfont iconcode" style="padding-right:3px"></i>
                                    @item.CategoryName
                                </h3>
                                <small>(@item.Count)</small>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@code {

    public IList<CatalogViewModel> Models;
    [Parameter] public int PageIndex { get; set; }
    protected override async Task OnInitializedAsync()
    {

        Models = await Http.GetFromJsonAsync<List<CatalogViewModel>>($"/BlogApi/GetCatalogList/");
    }

    private string BuildLink(string displayName, int pageIndex)
    {
        string link = $"/Posts/";
        if (!string.IsNullOrEmpty(displayName))
        {
            link = link + $"Categories/{displayName}/";
        }
        pageIndex = pageIndex == 0 ? 1 : pageIndex;
        if (pageIndex > 0)
        {
            link = link + $"{pageIndex}";
        }
        return link;
    }
}