@page "/Tags"
@using PomeloButterBlog.Common.Models
@using System.Text.Json
@using PomeloButterBlog.App.HttpClientApi
@inject BlogApi Api
<div class="main">
    <div class="container">
        <div class="post-wrap tags">
            <h2 class="post-title">-&nbsp;Tags&nbsp;-</h2>
            <div class="tag-cloud-tags">
                @if (Models!=null)
                {
                    @foreach (var item in Models)
                    {
                        <a href="@BuildLink(@item.DisplayName, @PageIndex)">@item.TagName<small>(@item.Count)</small></a>
                    }
                }

            </div>
        </div>
    </div>
</div>
@code {

    [Parameter]
    public IList<TagViewModel> Models { get; set; }

    [Parameter] public int PageIndex { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Models = await this.Api.GetTagListAsync();
    }
    private string BuildLink(string displayName, int pageIndex)
    {
        string link = $"/Posts/Tags/";
        if (!string.IsNullOrEmpty(displayName))
        {
            link = link + $"{displayName}/";
        }
        pageIndex = pageIndex == 0 ? 1 : pageIndex;
        if (pageIndex > 0)
        {
            link = link + $"{pageIndex}";
        }
        return link;
    }
}
